#center_lower {
   width: 900px;
   margin: 0 auto;
   
   padding: 3px;
   height: 280px;
   margin-bottom: 30px;
   display: block;
   
}
#center_lower h3 {

    position: relative;
    height: 34px;
    right: 4px;
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}


#center_lower_right_wrapper,#center_lower_middle_wrapper,#center_lower_left_wrapper {
    width: 33%;
    float:right;
    margin-top: 30px;
    
}

#center_lower #right, #center_lower #middle, #center_lower #left  {
    width: 98%;
    height: 220px;
    /* float: right; */
    border: solid;
    border-width: thin;
    border-top-right-radius: 20px;
    margin: 0 auto;
}

#center_lower #right img,#center_lower #middle img {
    margin: 0 auto;
    display: block;
    width: 80%;
    height: 100px;
}

#center_lower #left img {
    float: left;
}

#center_lower #right .text, #center_lower #middle .text {
    float: right;
    font-size: 13px;
    width: 120px;
    height: 13px;
    overflow: hidden;
}

#center_lower #left .text {
    
    float: right;
    margin-right: 4;
}

#center_lower #right a.readMore,#center_lower #middle a.readMore {
    color: #575757;
    margin-top: 20px;
    text-decoration: underline;
    float: left;
    margin-left: 4px;
    
}
#center_lower #left .text a.readMore {
    float: none;
    display: block;
    margin-bottom: 8px;
    
}

#center_lower #right a.readMore:hover,#center_lower #middle a.readMore:hover {
    text-decoration: none;
}

